body {
<<<<<<< HEAD
	background: #ccc;
=======
	background: #F2F2F2;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
>>>>>>> origin/master
	font-size: 18px;
	font-family:  Segoe UI;
	line-height: 24px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
<<<<<<< HEAD
	max-width: 820px;
=======
	max-width: 842px;
>>>>>>> origin/master
}

body img {
	padding: 5px;
	border: 1px solid #000;
	margin: 20px;
}

nav {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
<<<<<<< HEAD
	padding: 0;
}

a:active {
	font-style: italic;
}

a:visited {
	font-style: italic;
}

.currentlink {
	font-style: italic;
=======
>>>>>>> origin/master
}

body h1 {
	text-align: center;
	font-size: 38px;
	margin-top: 10px;
	margin-bottom: 45px;
}

body h2 {
	font-size: 32px;
}

body h3 {
<<<<<<< HEAD
	font-size: 18px;
=======
>>>>>>> origin/master
	letter-spacing: 2.5px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 0 auto;
<<<<<<< HEAD
    max-width: 700px;
    padding: 0;
}

#container {
	margin: 10px;
	border: 15px solid #F2F2F2;
}
#content {
	padding: 50px;
	margin: 0 auto;
	background-color: #F2F2F2;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
=======
    max-width: 780px;
    padding: 0;
}

.description {
	font-family: Times;
}

#paper {
	padding: 10px;
}

#container {
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
	background-color: #fff;
}

.strong-emphasis {
	font-style: italic;
	font-weight: bold;
>>>>>>> origin/master
}

.spacing {
	font-variant: 10px;
}

#avatar {
	float: right;
	width: 200px;
	margin-top: 5px;
}

#padding {
	padding-top: 20px;
	padding-bottom: 20px;
}

.description {
	font-family: Times;
}

.strong-emphasis {
	font-style: italic;
	font-weight: bold;
}

.emphasis {
	font-weight: bold;
	font-size: 18px;
}

.dates {
	font-size: 14px;
}

.spacing {
	font-variant: 10px;
}


