/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  background-color: #fff;
  color: #000;
  font-size: 28px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

li {
  list-style: disc inside none;
  text-indent: -1.5em;
}

nav {
  text-align: right;
  color: #f9e42e;
  font-size: 16px;
  font-weight: 600;
  padding: 35px 80px 0 0;
}

nav a {
  margin: 0 20px 0 0;
  list-style: none;
  display: inline-block;
  margin: 0 25px;
  font-size: 18px;
  text-decoration: none;
  color: #f9e42e;
}


/******************************************
/* LAYOUT
/*******************************************/
#container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  text-align: center;
  color: #fff;
  font-size: 36px;
  border: 1px solid black;
  background-color: #033048;
}

#main {
  background-color: #f0efef;
  padding: 40px 70px;
}

.articles {
  float: left;
  width: 70%;
  background-color: #f0efef;
}

article {
 margin-bottom: 40px;
}

article h2 {
  font-weight: 600;
  font-style: normal;
  color: #033048;
  display: inline-block;
}

article p {
  font-size: 16px;
  font-weight: 300;
}

article p:first-letter {
  font-size: 40px;
  display: inline-block;
}

#readmore1, #readmore2 {
  display: none;
  font-size: 16px;
  font-weight: 300;
}

#main button {
  margin: 20px;
  float: right;
  font-weight: 600;
  font-size: 20px;
  border: none;
}

.side-stuff {
  float: right;
  width: 25%;
  font-size: 20px;
  color: #033048;
}

.categories {
  margin-bottom: 30px;
}

.about-relaxr {
  margin-bottom: 30px;
}

.side-stuff h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.side-stuff a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.side-stuff li {
  list-style: none;
  text-indent: 5px
}
#main img {
  width: 95%;
  margin: 10px 0;
}

.ad-unit {
  width: 95%;
}
#section-4-sign-up {
  background-color: #f9e42e;
}

#section-4-sign-up button {
  border-radius: 5px;
  border: none;
  font-weight: 800;
  height: 50px;
  padding: 0 60px;
}

.div-sign-up {
  text-align: center;
  padding: 25px;
}

#section-5-footer {
  background-color: #121212;
}

.div-footer {
  padding: 35px;
  text-align: center;
  line-height: 60px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.semi-bold {
  font-weight: 600;
  font-style: normal;
}

.strong-emphasis {
  font-weight: 800
}

.get-it-now button {
  background-color: #f9e42e;
  color: #033048;
  font-size: 20px;
}

.div-header h1 {
  color: #fff;
  font-size: 38px;
}

.div-sign-up button {
  background-color: #033048;
  color: #fff;
  font-size: 18px;
}

.logo-yellow {
  color: #f9e42e;
  font-weight: 800;
  font-size: 38px;
}

.logo-white {
  color: #fff;
  font-weight: 800;
  font-size: 38px;
  padding: 20px 100px;
  float: left;
}

.copyright {
  font-size: 12px;
  color: white;
}
