* {
	box-sizing: border-box;
}

body {
	width: 768px;
    max-width: 90%;
	margin: 0 auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.gray {
	background-color: #ccc;
	border: 1px solid #808080;
}

