header,
footer {
	height: 150px;
	margin: 20px 0;
}

.section-1 {
	width: 150px;
	height: 350px;
	float: left;
}

.section-2 { 
	width: 428px;
	height: 350px;
	float: left;
	margin: 0 20px;
}

.section-3 {
	width: 150px;
	height: 350px;
	float: left;
}