*{
	font-family: "Segoe UI", Segoe, "Lucida Grande", Verdana, Arial, Helvetica, san-serif;
}

#rtg-container {
	max-width: 710px;
	margin: 0 auto;
	background-color: #fff;
}

#rtg-header {
	height: 250px;
	background-color: #000;
	color: #fff;
}

#rtg-dates {
	height: 350px;
	background-color: orange;
}

#rtg-benefits {
	height: 350px;
	background-color: red;
}

#rtg-footer {
	height: 200px;
	background-color: blue;
}
