h1 {
	background: red;
	border: 3px dotted #000;
	padding: 15px 5px 0;
	text-align: center;
}

p {
	background: blue;
	color: white;
	padding: 23px 10px 6px;
}

code {
	background: white;
	color: black;
	border: 1px solid red;
}

h2 {
	background: yellow;
	color: purple;
	border: 5px solid;
}

ol {
	background: orange;
	border-radius: 30px;
}

li {
	border: green dotted;
	margin: 15px;
}