/*320, 480, 760*/
/*.line {
	height: 7px;
	width: 30%;
	margin: .15rem .5rem;
	border-radius: 5px;
	float:left;
	clear:both;
}

.firstline {
	margin-top: 5px;
}*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.clear {
	clear: left;
}

body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

#container {
	max-width: 768px;
	margin: 0 auto;
}

header {
	background-color: #121212;
	color: #fff;
	min-height: 100px;
	border-bottom: 3px solid #f9e42e;
}

.main-logo h1 {
	font-size: 200%;
	font-weight: 600;
	padding: 10px 20px;
	color: #f9e42e;
}

.navigation {
	color: #fff;
}

nav {
	text-align: right;
	padding: 10px 20px;
}

nav a { 
	text-decoration: none;
	margin: 0 10px 0 0;
}

nav a:link {
	color: #fff;
}

nav a:last-child {
	margin-right: 0;
}

#top-menu li {
	display: inline-block;
	margin: 5px;
}
button {
	text-transform: uppercase;
	border-style: outset;
	border-radius: 5px;
	width: 90%;
	font-weight: 600;
	padding: 10px;
	font-stretch: condensed;
}

#value-prop {
	background-color: #A9A9A9;
}

.value-prop-text {
	text-align: center;
	padding: 20px;
	color: #121212;
	font-size: 125%;
	font-style: italic;
	font-weight: 700;
}

#main-cta {
	background: url(../images/coworking.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
}

.meet-your-match {
	float: right;
	display: inline;
	max-width: 200px;
	background-color: rgba(255,255,255,.75);
	margin: 20px;
	border: 1px solid #A9A9A9;
	padding: 20px;
	line-height: 1.5em;
}

.cta-header {
	font-size: 150%;
	font-weight: 600;
	padding-bottom: 10px;
}

.cta-content {
	font-size: 87.5%;
}

.cta-button {
	text-align: center;
}

.cta-button button {
	background-color: #f9e42e;
	margin-top: 20px;
}

#three-columns {
	background-color: #fff;
}

.columns {
	margin: 20px 10px;
}

.left-column, .middle-column, .right-column {
	border-right: 1px solid #a9a9a9;
	float: left;
	max-width: 33%;
}

.column-content {
	padding: 20px;
}

.column-header {
	font-size: 125%;
	line-height: 1.5em;
	font-weight: 600;
}

.column-text {
	font-size: 87.5%;
	line-height: 1.5em;
}

.column-button {
	text-align: center;
}

.column-button button {
	width: 90%;
	margin-top: 20px;
	background-color: #a9a9a9;
}
footer {
	background-color: #121212;
}

.footer-content {
	color: #fff;
	font-size: 87.5%;
	padding: 20px;
	font-weight: 600;
}

.emphasis {
	font-weight: 700;
}

.underline {
	text-decoration: none;
	border-bottom: 2px solid #f9e42e;
}

.strikethrough {
	text-decoration: line-through;
	color: #606161;
}


@media (max-width: 320px) {
	/*#top-menu {
		display:none;
	}*/
}

@media (max-width: 480px) {
	#top-menu {
		display:none;
	}
	.left-column, .middle-column, .right-column {
		max-width: 100%;
		border-bottom: 1px solid #a9a9a9;
		border-right: none;
	}

	.hamburger {
	  position: relative;
	  padding-left: 1.25em;
	}

	.hamburger:before {
	  content: "";
	  position: absolute;
	  margin: 10px;
	  top: 10px;
	  right: 0;
	  width: 1.25em;
	  height: 0.125em;
	  border-top: 0.375em double #fff;
	  border-bottom: 0.125em solid #fff;
	}

	#top-menu.full-width {
		display: block;
		width: 100%;
		background-color: #f9e42e;
	}

	#top-menu.full-width li {
		display: block;
		text-align: center;
		border: 1px solid #000;
		padding: 5px;
	}
}

@media (max-width: 760px) {

}
